$basic-black: #000000;
$basic-black-transparency5: rgba(0, 0, 0, 0.5);
$basic-white: #ffffff;
$basic-white-transparency1: rgba(255, 255, 255, 0.1);
$basic-white-transparency4: rgba(255, 255, 255, 0.4);
$basic-white-transparency6: rgba(255, 255, 255, 0.6);
$special-gray: #666666;
$special-gray-medium: rgba(98, 105, 98, 0.2);
$special-blue-dark: #1b2d37;
$special-blue: #00b2ff;
$special-blue-middle: #4cb7ff;
$special-blue-half: #0076a9;
$special-gray-light: #cdcdcd;
$special-gray-light-half: #ebebeb;
$special-gray-middle: #c4c4c4d;
$font-family-header: "Roboto Condensed", "Arial", sans-serif;
$font-family-text: "PT Mono", "Lucida Console", monospace;
$tablet-width: 1023px;
$mobile-width: 767px;
