$basic-black: #000000;
$basic-white: #ffffff;
$special-gray: #1f1f1f;
$special-gray-light: #c9ccd4;
$special-gray-light-transparency5: rgba(28, 28, 28, 0.5);
$basic-black-transparency2: rgba(255, 255, 255, 0.2);
$basic-black-transparency7: rgba(0, 0, 0, 0.7);
$basic-black-transparency5: rgba(0, 0, 0, 0.5);
$special-green: #0ad9c6;
$font-family: "Open Sans", "Arial", sans-serif;
$tablet-width: 1023px;
$mobile-width: 767px;
$special-gray-dark: #48494d;
$special-gray-middle: #f6f6f6;
