$basic-black: #000000;
$basic-white: #ffffff;
$special-gray: #1b2d37;
$special-blue: #00b2ff;
$special-gray-light: #cdcdcd;
$font-family-header: "Roboto Condensed", "Arial", sans-serif;
$font-family-text: "PT Mono", "Lucida Console", monospace;
$tablet-width: 1023px;
$mobile-width: 767px;
