.about {
  width: 100%;
  position: relative;
  background: url(../img/background-advantages@1x.png) -1px -23px no-repeat;
  background-size: cover;
  padding: 110px 0 100px;

  @media (min-resolution: 2dppx) {
    background: url(../img/background-advantages@1x.png) -1px -23px no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    padding: 54px 0 80px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 37px 0 64px;
  }
}

.about__wrapper {
  position: relative;
  max-width: 1230px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0 14px 0 14px;
    width: auto;
  }
}

.about__list {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto auto;
  grid-gap: 30px;
  max-width: 100%;
  margin: 0 33px;
  list-style: none;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin: 0 25px;
    grid-template-columns: 48% 48%;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
  }
}

.about__item {
  border: 1px $special-gray-light-half solid;
  border-left: 3px $special-blue solid;
  background-color: $basic-white;
  padding: 42px 35px 0 43px;
  cursor: pointer;
  box-sizing: border-box;
  min-height: 299px;

  &:hover {
    background-color: $special-blue;
    border-color: $special-blue;
  }

  &:hover svg {
    fill: $basic-white;
  }

  &:hover h3 {
    color: $basic-white;
  }

  &:hover p {
    color: $basic-white;
  }

  @media (max-width: $tablet-width) {
    padding: 22px 21px 19px 24px;
    min-height: 232px;

    &--stopwatch svg {
      width: 29px;
      height: 36px;
    }

    &--hired svg {
      width: 29px;
      height: 36px;
    }

    &--detective svg {
      width: 30px;
      height: 26px;
    }

    &--tag svg {
      width: 32px;
      height: 32px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 23px 15px 25px 24px;
  }
}

.about__item svg {
  fill: $special-blue;
  padding-bottom: 14px;

  @media (max-width: $tablet-width) {
    width: 31px;
    height: 36px;
    padding-bottom: 2px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 4px;
  }
}

.about__item h3 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $special-blue;
  margin: 0 0 16px 0;

  @media (max-width: $tablet-width) {
    margin: 0 0 8px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 140.62%;
    margin: 0 0 10px 0;
  }
}

.about__item p {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $special-gray;
  margin: 0;
}

.about__company {
  background: url("../img/2005@1x.png") left bottom no-repeat;
  background-size: auto 306px;
  padding: 108px 0 0 180px;
  margin: 0 33px;

  @media (min-resolution: 2dppx) {
    background: url("../img/2005@2x.png") left bottom no-repeat;
    background-size: auto 306px;
  }

  @media (max-width: $tablet-width) {
    background-size: auto 346px;
    margin: 0 30px 0 30px;
    padding: 57px 0 0 180px;
  }

  @media (max-width: $mobile-width) {
    background: none;
    padding-left: 0;
    margin: 0;
  }
}

.about__company-text {
  &--desktop {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }
}

.about__company h2 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $special-gray;
  margin: 0 0 21px 0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 140.62%;
    margin: 0 0 26px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 140.62%;
    margin: 0 0 20px 0;
  }
}

.about__company p {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-gray;
  padding: 0 0 21px 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding: 0 0 20px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 39px 3px;
  }
}

.about__company-text p {
  @media (max-width: $mobile-width) {
    padding: 0 0 20px 3px;
  }
}

.about__company a {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $special-blue;
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $special-blue solid;
  border-radius: 5px;
  text-decoration: none;
  margin: 16px 0 8px 0;

  &:hover {
    background: $special-blue;
    color: $basic-white;
  }

  &:focus {
    background: $special-blue-half;
    border: 1px $special-blue-half solid;
  }

  @media (max-width: $tablet-width) {
    margin: 43px 3px 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 9px 3px 0 3px;
  }
}
