.catalog {
  width: 100%;
  background-color: $special-gray-half-middle;
}

.catalog__wrapper {
  max-width: 1226px;
  padding: 149px 0 147px 0;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 590px;
    padding: 51px 0 20px 0;
  }

  @media (max-width: $mobile-width) {
    max-width: 270px;
  }
}

.catalog__wrapper h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $special-gray;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
  }
}

.catalog__list {
  padding: 51px 0 0 0;
  display: flex;
  justify-content: space-around;
  margin: 0 25px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    margin: 0 -25px;
    padding: 20px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}

.catalog__item {
  text-align: center;
  margin: 0 25px;
  width: calc(33.3% - 25px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  @media (max-width: $tablet-width) {
    width: calc(50% - 50px);
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    width: 100%;
    padding-bottom: 31px;
  }
}

.catalog__item:nth-child(3n -2) {
  z-index: 2;
  padding-top: 10px;

  @media (max-width: $mobile-width) {
    padding: 9px 0 33px;
  }

  &::before {
    content: "";
    display: block;
    z-index: -1;
    width: 180px;
    height: 180px;
    top: 166px;
    left: -60px;
    position: absolute;
    background: url("../img/circle.svg") center center no-repeat;
    background-size: 180px 180px;

    @media (max-width: $tablet-width) {
      width: 127px;
      height: 127px;
      top: 211px;
      left: -37px;
      background-size: 127px 127px;
    }

    @media (max-width: $mobile-width) {
      left: -24px;
    }
  }
}

.catalog__item:nth-child(3n -1) {
  z-index: 2;
  padding-top: 39px;

  @media (max-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    padding: 9px 0 33px;
  }

  &::before {
    content: "";
    display: block;
    z-index: 0;
    width: 47px;
    height: 47px;
    top: 21px;
    left: -19px;
    position: absolute;
    background: url("../img/square.svg") center center no-repeat;
    background-size: 47px 47px;

    @media (max-width: $tablet-width) {
      content: none;
    }
  }

  &::after {
    content: "";
    display: block;
    z-index: -1;
    width: 47px;
    height: 47px;
    bottom: 31px;
    right: -23px;
    position: absolute;
    background: url("../img/square.svg") center center no-repeat;
    background-size: 47px 47px;

    @media (max-width: $tablet-width) {
      content: none;
    }
  }
}

.catalog__item:nth-child(3n) {
  z-index: 2;

  @media (max-width: $mobile-width) {
    padding: 9px 0 34px;
  }

  &::before {
    content: "";
    display: block;
    z-index: 0;
    width: 95px;
    height: 95px;
    top: -33px;
    right: -36px;
    position: absolute;
    background: url("../img/circle2.svg") center center no-repeat;
    background-size: 95px 95px;

    @media (max-width: $tablet-width) {
      width: 68px;
      height: 68px;
      top: -20px;
      right: -25px;
      background-size: 68px 68px;
    }

    @media (max-width: $mobile-width) {
      top: -11px;
      right: -14px;
    }
  }
}

.catalog__item a {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $basic-black;
  text-decoration: none;
  padding: 12px 0 0 0;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.catalog__item img {
  object-fit: cover;
  height: auto;
  border-radius: 10px;

  @media (max-width: $tablet-width) {
    height: 300px;
  }
}
