.contacts {
  width: 100%;
  padding-top: 252px;

  @media (max-width: $tablet-width) {
    padding-top: 155px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 119px;
  }
}

.contacts__wrapper {
  width: 957px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    width: 698px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
  }
}

.contacts__wrapper h2 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $special-gray;
  margin: 0 0 30px 0;
  padding: 0 11px 0 0;
  text-align: center;
  width: 555px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    padding: 0;
    margin: 0 0 20px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.contacts__wrapper p {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $basic-black-transparency7;
  width: 555px;
  padding: 0 11px 39px 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding: 0 0 20px 0;
    width: 629px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px 19px 15px;
  }
}

.contacts__wrapper img {
  object-fit: cover;
  height: 530px;
  width: 957px;

  @media (max-width: $tablet-width) {
    height: 545px;
    width: 698px;
  }

  @media (max-width: $mobile-width) {
    height: 250px;
    width: 320px;
  }
}
