.footer-nav {
  width: 40.5%;
  position: relative;

  @media (max-width: $tablet-width) {
    width: calc(50% - 25px);
    padding-left: 25px;
    margin-top: 38px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    border-bottom: 1px solid $special-gray-medium;
    padding-left: 15px;
    margin-top: 29px;
  }
}

.footer-nav__header {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $special-blue-dark;
  margin: 0 0 25px 0;
  padding: 0;
}

.footer-nav__list {
  column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    column-count: 1;
  }
}

.footer-nav__link {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $special-blue-dark;
  opacity: 0.5;
  text-decoration: none;
  display: block;

  &:hover {
    color: $special-blue;
  }

  &:focus {
    color: $special-blue-half;
  }
}
