.main-nav {
  position: absolute;
  top: 36px;
  right: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 70%;

  @media (max-width: $tablet-width) {
    top: 22px;
    right: 24px;
  }

  @media (max-width: $mobile-width) {
    top: 12px;
    right: 15px;
  }
}

.main-nav__link {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $basic-white;
  text-decoration: none;
  margin: 10px 47px 10px 41px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin: 10px 0 10px 32px;
  }

  @media (max-width: $mobile-width) {
    margin: 10px 0 10px 23px;
  }

  &:hover {
    color: $special-blue;
  }

  &:focus {
    color: $special-blue;
    opacity: 0.6;
  }
}

.main-nav__link-text {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__link-icon {
  fill: $special-blue;
  vertical-align: middle;
  padding-right: 8px;

  @media (max-width: $tablet-width) {
    height: auto;
    padding-right: 0;
  }

  &--email {
    @media (max-width: $tablet-width) {
      width: 1.6em;
    }
  }

  &--tel {
    @media (max-width: $tablet-width) {
      width: 1.5em;
    }
  }
}

.main-nav__button {
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px $basic-white solid;
  box-sizing: border-box;
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover {
    background-color: $special-blue;
    border: none;
  }

  &:focus {
    background-color: $special-blue;
    border: none;
    opacity: 0.6;
  }
}
