.page-header {
  width: 100%;
  position: relative;
}

.page-header__wrapper {
  position: relative;
  max-width: 1471px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}


.page-header__logo {
  width: 202px;
  height: 52px;
  position: absolute;
  top: 33px;
  left: 30px;

  @media (max-width: $tablet-width) {
    top: 20px;
    left: 24px;
  }

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
    top: 17px;
    left: 17px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.page-header__button {
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px $basic-white solid;
  box-sizing: border-box;
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 35px;
  right: 29px;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover {
    background-color: $special-blue;
    border: none;
  }

  &:focus {
    background-color: $special-blue;
    border: none;
    opacity: 0.6;
  }
}
