.page-footer {
  width: 100%;
  position: relative;
  padding-top: 65px;

  @media (max-width: $tablet-width) {
    padding-top: 19px;
  }
}

.page-footer__wrapper {
  position: relative;
  max-width: 1471px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  z-index: 100;
  padding-bottom: 55px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-bottom: 36px;
  }
}

.page-footer__info {
  padding-left: 30px;
  width: 25%;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $special-gray-medium;
    padding-left: 25px;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}

.page-footer__logo {
  width: 216px;
  height: 52px;
  margin-bottom: 50px;
  display: block;

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.page-footer__years {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    font-family: $font-family-text;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $special-blue-dark;
    margin: 16px 0 0 16px;
  }
}

.page-footer__social-list {
  display: flex;
  width: 112px;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding: 7px 25px 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.page-footer__social-item {
  width: 26px;
  height: 26px;
}

.page-footer__social-item svg {
  fill: $special-gray-light;
}

.page-footer__social-item:hover svg {
  fill: $special-blue;
}

.page-footer__social-item:focus svg {
  fill: $special-blue-half;
}

.page-footer__contact {
  padding-right: 8px;
  width: 24%;
  position: relative;

  @media (max-width: $tablet-width) {
    width: calc(50% - 25px);
    padding-right: 7px;
    margin-top: 38px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 25px;
  }
}

.page-footer__contact-header {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $special-blue-dark;
  margin: 0 0 26px 0;
  padding: 0;
}

.page-footer__contact-wrap p {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  color: $special-blue-dark;
  opacity: 0.5;
  width: 100%;
}

.page-footer__contact-wrap a {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $special-blue-dark;
  opacity: 0.5;
  width: 100%;
  display: block;
  text-decoration: none;

  &:hover {
    color: $special-blue;
  }

  &:focus {
    color: $special-blue-half;
  }
}

.page-footer__confidentiality-wrap {
  width: 100%;
  border-top: 1px solid $special-gray-medium;
}

.page-footer__confidentiality {
  max-width: 1471px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  align-items: center;
  font-family: $font-family-text;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $special-blue-dark;
  opacity: 0.5;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.page-footer__confidentiality-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 15px 30px 8px 30px;

  @media (max-width: $tablet-width) {
    padding: 20px 0;
  }
}

.page-footer__confidentiality-law {
  width: 13%;
  padding-right: 3%;
  margin: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-footer__confidentiality-years {
  width: 23.5%;
  padding-right: 3%;
  margin: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-footer__confidentiality-conditions {
  width: 23.5%;
  padding-right: 3%;
  color: $special-blue-dark;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    width: calc(50% - 25px);
    padding-left: 25px;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  &:hover {
    color: $special-blue;
  }

  &:focus {
    color: $special-blue-half;
  }
}

.page-footer__confidentiality-developed {
  width: 31%;
  text-align: end;
  color: $special-blue-dark;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    width: calc(50% - 25px);
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0;
    text-align: center;
  }


  &:hover {
    color: $special-blue;
  }

  &:focus {
    color: $special-blue-half;
  }
}
