.page-footer {
  padding: 31px 0 97px;
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    padding: 12px 0 55px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    padding: 24px 0 30px;
  }
}

.page-footer__contact {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: $basic-black-transparency5;
  text-decoration: none;

  &--email {
    padding: 0 90px 0 10px;
  }

  &--tel {
    padding: 0 26px 0 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $special-green;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 22px 0;

    &--email {
      padding: 0 0 22px 7px;
    }

    &--tel {
      padding: 0 11px 0 0;
    }
  }
}

.page-footer__contact svg {
  padding-right: 15px;
}
